<div class="card">
    <%= form_for brewery do |f| %>
        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>

        <div class="field">
            <%= f.label :location %>
            <%= f.text_field :location %>
        </div>

        <div class="field">
            <%= f.label :website %>
            <%= f.text_field :website %>
        </div>

        <div class="action">
            <%= f.submit "Submit" %>
        </div>
    <% end %>
</div>