<div class="card">
    <%= form_for [brewery, beer] do |f| %>
        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>

        <div class="field">
            <%= f.label :style %>
            <%= f.text_field :style %>
        </div>

        <div class="field">
            <%= f.label :abv %>
            <%= f.number_field :abv, step: 0.1 %>
        </div>

        <div class="action">
            <%= f.submit "Submit" %>
        </div>
    <% end %>
</div>