<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Breweries", breweries_path %></li>
<li><%= render "layouts/search" %></li>
<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>